body {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 100vh;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.banner-section {
  background-image: url(/image/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: calc(1000px * 1);
  margin-top: -65px;
}
.bg-elements {
  margin: -50px;
  position: absolute;
}
.bg-element {
  position: absolute;
}
main .form-section h3,
main h2,
main h3 {
  font-family: "Americana Std", Helvetica, sans-serif;
}
main p,
main h6 {
  font-family: "Gilroy-Regular", sans-serif;
}
main h2 {
  font-weight: 900;
  font-style: extra bold;
  margin-top: 70px;
  margin-bottom: 60px;
  font-size: 46px;
  text-align: center;
}
main .form-section-frame {
  padding-top: 200px;
  height: calc(740px * 1);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /* display: none; */
}
main .form-section {
  background: linear-gradient(
    149deg,
    rgba(233, 235, 240, 1) 8%,
    rgba(226, 228, 236, 1) 59%,
    rgba(233, 235, 240, 1) 88%
  );
  border-radius: 30px;
  border: 2px solid rgb(205, 204, 204);
  width: 860px;
  height: 500px;
  margin: 0 auto;
  padding: 40px;
  position: relative;
}
.heading h3,
.row-section {
  position: relative;
}
.row-section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.form-section .heading h3 {
  font-size: 26px;
  text-align: center;
}
.form-section .heading .cancel-btn-icon {
  width: 18px;
  height: 17px;
  position: absolute;
  right: 50px;
  top: 70px;
  cursor: pointer;
}
.form-section label {
  font-family: "Roboto Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #535353;
  margin-bottom: 5px;
  pointer-events: none;
}
form {
  width: 394px;
  height: 18px;
}
form input {
  color: #535353;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 100%;
  height: 220%;
}
main .form-section .submit-btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  background: linear-gradient(
    223.1deg,
    #290e29 16.4%,
    #0a052d 51.74%,
    #19262d 88.59%
  );
  box-shadow: inset 4px 6px 10px 2px rgba(255, 255, 255, 0.25);
  border-radius: 42px;
  cursor: pointer;
  margin-top: 40px;
  height: 45px;
}
.form-section .submit-btn:hover {
  background: #290e29;
}
.form-section label,
.form-section input {
  display: block;
}
.form-section img {
  width: 340px;
  height: 393px;
}
main p {
  text-align: center;
  padding: 0px 220px;
  font-size: 26px;
}

.img-section {
  padding-bottom: 600px;
}
main .hand-image {
  display: block;
  position: absolute;
  right: 0px;
}
main .cards-section {
  display: flex;
  justify-content: center;
  padding: 0px 112px 0px 112px;
  margin-bottom: 120px;
}

main .cards-section div {
  background: linear-gradient(
    149deg,
    rgba(233, 235, 240, 1) 8%,
    rgba(255, 255, 255, 1) 50%,
    rgba(233, 235, 240, 1) 88%
  );
  border-radius: 10px;
  margin: 20px;
  width: 385px;
  height: 365px;
  padding: 30px 20px;
  position: relative;
}
main .cards-section h6 {
  font-size: 28px;
  font-weight: 900;
  text-align: center;
  margin: 30px 30px 10px 30px;
}
main .cards-section p {
  padding: 10px;
  line-height: 23px;
  font-size: 20px;
  position: absolute;
  top: 200px;
}
main .cards-section img {
  margin: 0 auto;
  display: block;
}
.examples {
  background-image: url(/image/background-footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: calc(750px * 1);
  display: flex;
  justify-content: center;
}
.examples div {
  margin: 20px;
}
.examples h3 {
  color: #ffffff;
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.screen-block {
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 7px 7px rgba(245, 246, 247, 0.9) inset,
    0px 0px 7px 7px rgba(255, 255, 255, 0.9);
  padding: 18px;
  width: 280px;
  height: 464px;
  overflow-y: scroll;
  overflow-x: hidden;
}
footer {
  background-color: #161618;
  display: flex;
  padding: 40px 100px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  position: relative;
}
footer .logo {
  margin-right: 80px;
}
footer a {
  text-decoration: none;
  color: #ffffff;
  margin-left: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 300;
}
footer a:hover,
footer p {
  opacity: 0.6;
}
footer p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.02em;
  position: absolute;
  right: 60px;
}
